.wrapper{
    display:grid;
    grid-template-rows:1fr 0.2fr
}
.name{
  display:grid;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: grid;
    align-items: center;

    color: #4F4F4F
 }
.icon{
    display:grid;
}