.Sidebar {
  @media (max-width: 1365px) {
    $width: 155px;
    width: $width;
    $left_right_padding: 8px;

    &-wrapper {
      width: calc(#{$width} - 2 * #{$left_right_padding});
    }

    &__logo-image {
      $padding: 5px;
      width: calc(100% - #{$padding});
      height: 25px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }

    &__bottom-item .image-wrapper {
      width: 25px;
      height: 25px;
    }

    .item {
      &--text {
        font-size: 13px;
      }
      &--ellipsis {
        margin-left: 45px;
      }
    }

    &__navigation-item {
      margin-bottom: 2px;
    }

    &--closed {
      $closedWidth: 50px;
      max-width: $closedWidth;

      .item--text {
        display: none;
      }

      .Sidebar__navigation-list,
      .Sidebar__account-list {
        max-width: calc(#{$closedWidth} - 16px);
      }
    }
  }

  @media (max-width: 1099px) {
    position: absolute;
    z-index: 1101;
    width:1100px;
  }

  @media (max-width: 959px) {
    &--closed {
      display: none;
    }
  }

  @media (max-height: 550px) {
    &__navigation-list {
      max-height: 150px;
      overflow: scroll;
    }
  }
}
